.contact-main {
	height: auto;
	background-color: #f4f4f4;
	font-family: sans-serif;
	text-align: center;
	padding: 65px 0 65px 0;
}

.contact-main h3 {
	font-size: 36px;
}

.contact-main-input {
	display: block;
	margin: 20px auto;
	width: 40vw;
	min-width: 250px;
	height: 30px;
	font-size: 16px;
	padding: 5px;
	color: #808080;
	border: 1px solid #808080;
	border-radius: 3px;
}

.contact-main textarea {
	width: 40vw;
	min-width: 250px;
	font-size: 16px;
	padding: 5px;
	height: 150px;
	color: #808080;
	border: 1px solid #808080;
}

.contact-underline {
	width: 150px;
	border: 1px solid #808080;
	margin: 30px auto 50px auto;
}

.send-btn {
	display: block;
	margin: 30px auto 0 auto;
	height: 50px;
	width: 90px;
	font-size: 16px;
	color: #808080;
	border-radius: 15px;
	border: 1px solid #808080;
	background-color: #e4e4e4;
	cursor: pointer;
}

.send-btn:hover {
	background-color: #f4f4f4;
}


