.footer-main {
	height: auto;
	background-color: #333;
	padding: 10px 0 10px 0;
}

.icon-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 200px;
	margin: 0 auto;
}

.github-icon {
	height: 75px;
	width: 75px;
	background-image: url('./images/github-icon.png');
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 50%;
}

.linkedin-icon {
	height: 75px;
	width: 75px;
	background-image: url('./images/linkedin-icon.png');
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 50%;
}