ul {
	display: flex;
	margin: 15px auto;
	flex-direction: row;
	justify-content: space-around;
	list-style: none;
	width: 90vw;
	height: 60px;
	border-bottom: 2px solid white;
	position: absolute;
	left: 5vw;
}

li {
	width: 12vw;
	height: 50px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	cursor: pointer;
	font-size: 22px;
	font-weight: lighter;
	color: white;
	font-family: sans-serif;
	border-radius: 10px;
}

li:nth-child(2):hover, li:nth-child(4):hover, li:nth-child(6):hover, li:last-child:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

li:nth-child(1) {
	margin-right: 28vw;
	font-size: 36px;
	font-weight: lighter;
	cursor: pointer;
}

.border-right {
	height: 30px;
	border: 1px solid white;
	position: relative;
	top: 15px;
}


@media(max-width: 800px) {
	.hide {
		display: none;
	}

	ul {
		display: block;
		float: left;
	}

	li {
		width: 100%;
		text-align: left;
	}
}








